@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.Msg-initial{
  width: 100%;
  display: flex;
  justify-content: center;
  color: #242424;
  transform: translateY(-64px);
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background: #3c3c3c;
}

.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-20px);
}

.InputTrue {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;


  input {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    background: transparent;

    &:focus + label,
    &:not(:placeholder-shown) + label {
      transform: translateY(-35px);
      font-size: 22px;
      background-color: white;
      padding: 0 4px;
      color: #6185e6;
      left: 10px;
    }
    &:focus {
      transition: 0.2s;
      border-color: #7c95d8;
    }
  }

  label {
    position: absolute;
    left: 16px;
    color: #999;
    pointer-events: none;
    transition: all 0.2s ease;
    z-index: 2;
  }

  .inputImg {
    position: absolute;
    right: 16px;
    width: 25px;
  }
}

.InputFalse {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  // margin-left: auto;
  // margin-right: auto;

  

  input {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ef0b4b;
    transition: 0.2s;
    outline: none;
    background: transparent;

    &:focus + label,
    &:not(:placeholder-shown) + label {
      transform: translateY(-35px);
      font-size: 22px;
      background-color: white;
      padding: 0 4px;
      color: #ef0b4b;
      left: 10px;
    }
  }

  label {
    position: absolute;
    left: 16px;
    color: #999;
    pointer-events: none;
    transition: all 0.2s ease;
    z-index: 2;
  }

  .inputImg {
    position: absolute;
    right: 16px;
    width: 20px;
  }
}

.bntTrue {
  width: 70%;
  height: 54px;
  background: #7494ec;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  margin: 20px auto;
  margin-bottom: -24px;
  &:hover {
    background: #6380ce;
  }
}

.bntFalse {
  width: 70%;
  height: 54px;
  background: #7494ec;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin: 30px auto;
  opacity: 0.4;
}


